.task
bin/
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# Frontend
frontend/node_modules/
frontend/dist/
frontend/bindings/

# Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo